.contentWrapper {
  color: white;
  display: flex;
  flex-direction: column;
  padding-block: 3rem;
  width: 77%;
  margin-inline: auto;
}

.bodyWrapper {
  display: flex;
  gap: 15rem;
}

.firstSection {
  flex: 1;
}

.mainTitle {
  font-family: var(--ff-secondary);
  font-size: 6rem;
}

.destinationImageWrapper {
  width: clamp(250px, 100%, 700px);
  aspect-ratio: 1 / 1;
  margin-top: 6rem;
  margin-left: 3rem;
  position: relative;
  transition: rotate 0.3s linear;
  animation: spin 144s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.secondSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 6rem;
}

.destinationBtnWrapper {
  display: flex;
  gap: 1rem;
}

.destinationBtn {
  color: inherit;
  font-family: var(--ff-primary);
  letter-spacing: 0.2em;
  padding: 0;
  padding-bottom: 0.8em;
  cursor: pointer;
}

.activeBtn {
  border-bottom: 2px solid currentColor;
}

.description {
  font-family: var(--ff-primary);
  color: var(--color-secondary);
  font-size: 1.2rem;
  padding-right: 4rem;
  line-height: 1.7;
}

.line {
  width: 100%;
  height: 2px;
  background-color: var(--color-primary);
  opacity: 0.5;
  margin-block: 3rem 1.5rem;
}

.travelInfos {
  display: flex;
  gap: 4rem;
  color: var(--color-secondary);
}

.travelInfos h4 {
  font-family: var(--ff-primary);
  font-weight: 400;
  letter-spacing: 0.1em;
}

.travelInfos span {
  color: white;
  font-size: 1.7rem;
}

@media (max-width: 1024px) {
  .bodyWrapper {
    gap: 1rem;
    flex-direction: column;
    align-items: center;
  }

  .destinationImageWrapper {
    width: 300px;
    margin-top: unset;
    margin-left: unset;
  }
  .mainTitle {
    font-size: 5rem;
  }
  .secondSection {
    padding-top: 1rem;
    align-items: center;
  }

  .description {
    text-align: center;
    padding-right: unset;
    width: 65%;
    font-size: 1rem;
  }
  .line {
    width: 65%;
  }
}

@media (max-width: 768px) {
  .destinationBtnWrapper {
    gap: 2rem;
  }

  .destinationBtn {
    font-size: 0.8rem;
  }
  .mainTitle {
    font-size: 4rem;
  }

  .destinationImageWrapper {
    margin-inline: auto;
    width: 200px;
  }

  .description {
    width: 100%;
  }

  .line {
    width: 100%;
  }

  .travelInfos {
    flex-direction: column;
    gap: 1rem;
  }

  .travelInfos h4 {
    font-size: 0.9rem;
  }

  .travelInfos > div {
    text-align: center;
  }
}
