.subTitle {
  font-family: var(--ff-primary);
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.15em;
  color: white;
  padding-left: 10rem;
}

.pageIndex {
  color: var(--color-secondary);
  opacity: 0.5;
}

@media (max-width: 1024px) {
  .subTitle {
    margin-top: 3rem;
    padding-left: 4rem;
    font-size: 1.4rem;
  }
}
@media (max-width: 768px) {
  .subTitle {
    padding-left: unset;
    text-align: center;
    margin-top: 1rem;

  }
}
