.contentWrapper {
  color: white;
  display: flex;
  gap: 5vw;
  padding-block: 3rem;
  width: 88.5%;
  margin-left: auto;
}

.firstSection {
  display: flex;
  flex-direction: column;
}

.bodyWrapper {
  display: flex;
  align-items: flex-start;
  margin-top: 5rem;
  gap: 5rem;
}

.technologyBtnWrapper {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  justify-content: flex-start;
  gap: 2rem;
}

.technologyBtn {
  padding: 0;
  width: 5rem;
  aspect-ratio: 1 / 1;
  font-size: 1.5rem;
  border: 1px solid rgba(209, 215, 250, 0.5);
  border-radius: 50%;
  cursor: pointer;
  color: #fff;
}

.activeBtn {
  background-color: white;
  color: black;
}

.mainTitle {
  font-family: var(--ff-secondary);
  font-size: 3.5rem;
}

.subTitle {
  font-family: var(--ff-primary);
  color: var(--color-secondary);
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.15em;
}

.bodyText {
  font-family: var(--ff-tertiary);
  color: var(--color-secondary);
  font-size: 1.2rem;
  line-height: 1.75;
  width: 80%;
}

.secondSection {
  display: flex;
  justify-content: center;
  align-items: center;
}

.technologyImageWrapper {
  margin-top: 4rem;
  width: 350px;
}
span:has(.technologyImageLandscape) {
  display: none !important;
}

@media (max-width: 1024px) {
  .contentWrapper {
    flex-direction: column-reverse;
    gap: 5vw;
    padding-block: 0 3rem;
    width: 100%;
  }
  .technologyImageWrapper {
    margin-top: 2rem;
    width: 100%;
  }

  .bodyWrapper {
    margin-top: unset;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .technologyBtnWrapper {
    flex-direction: row;
    justify-content: center;
  }
  .bodyTextWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .bodyText {
    text-align: center;
    width: 60%;
  }

  span:has(.technologyImageLandscape) {
    display: block !important;
  }

  span:has(.technologyImagePortrait) {
    display: none !important;
  }
}

@media (max-width: 768px) {
  .contentWrapper {
    gap: 2.5rem;
  }
  .technologyBtnWrapper {
    gap: 1rem;
  }
  .technologyBtn {
    width: 3rem;
  }

  .mainTitle {
    font-size: 1.5rem;
    margin-block: 0.5rem 1.5rem;
  }

  .bodyText {
    width: calc(100% - 3rem);
    font-size: 1rem;
  }
}
